* {
    background: grey;
    font-family:Arial, Helvetica, sans-serif;
}


/* Reset margin and padding for the body and html */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures consistent box model */
}

.navbar{
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
    background-color: black;
    justify-content: space-evenly;
}

.nav {
    border: 5px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    list-style-type: none;
    display: flex;
    padding: 20px;
    text-align: center;
    flex: 1;
    color: black;
    height: 30px;
    background-color: black;
    margin: auto;
    flex-wrap: flex-end;
    position: fixed;
}

.red-bar {
    background-color: red;
    border: 1px solid black;
    width: 100%;
    height:  60px;
    border-bottom: none;
}

.red-bar > p {
    color: white;
    background-color: red;
    text-align: center;
    margin-top: 20px;
    font-weight: lighter;
}

.effect-intro {
    background-color: red;
    color: black;
    font-size: larger;
    font-weight: bolder;
}
.nav li{
   font-size: 20px;
   font-weight: 10px;
   background-color: black;
   text-align: center;
   margin: auto;
   color: red;
}

.usercards {
    border: 10px solid black;
    display: flex;
    height: 600px;
}

.cards {
    border: 10px solid black;
    display: inline-flex;
    gap: 10px

}

.form {
    margin-bottom: 60px;;
    width: 100%;
    height: 120vh;
    border: 5px solid black;
}

#skill-form {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    margin-top: 20px;
    height: auto;
}

button {
    /* Intentionally overriding inherited styles to ensure no border on child elements */
    border-radius: 15%;
    background-color: black;
    color: red;
    font-weight: bold;
    border-color: white;
}

::placeholder {
    color: black;
    text-align: center;
    padding: 5px;
    background: linear-gradient(to right, red, rgb(195, 162, 52));
}

input {
    border-radius: 5%;
    margin: 10px;
}

.left-section {
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-items: center;
    margin-right: 400px;
    margin-bottom: 20px;
    gap: 1rem;
    min-width: 10px;
    border-radius: 10%;
    background-color: black;
    padding: 1rem;
    width: 14rem;
    height: 9rem;
    justify-content: center;
   
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 400px;
    margin-bottom: 20px;
    gap: 1rem;
    min-width: 10px;
    border: 10px solid black;
    border-radius: 10%;
    background-color: black;
    padding: 1rem;
    width: 14rem;
    height: 9rem;
    justify-content: center;
}

.left-section > * {
    max-width: fit-content;
    min-width: min-content;
}

.right-section > * {
    max-width: fit-content;
    min-width: min-content;
    gap: 2rem;
}

label {
    background-color: black;
    color: white;
    font-weight: lighter;
}

textarea {
    background: linear-gradient(to right, red, rgb(195, 162, 52));
    text-align: center;
    padding: 20px;
}

.searchBtn {
    display: flex;
    flex-direction: column;
    border: 10px solid black;
    text-align: center;
    height: 15rem;
    align-items: center;
    justify-content: center;
}